/* hr prettier */
.markdown-source-view.mod-cm6 hr {
	border: 2px solid;
	border-radius: 100px;
}
.markdown-preview-view hr {
	border: 2px solid;
	border-radius: 100px;
}

/* hyphenation & justification */
/* .cm-s-obsidian, */
/* .markdown-preview-view { */
/*   text-align: justify; */
/*   hyphens: auto; */
/* } */


/* custom callouts */

/* .callout[data-callout="flag"] { */
/*   --nicered: #c4497e; /* rgb(196, 73, 126) */ */
/*  */
/*   --callout-title-color: #ffca80; */
/*   --callout-color: 196, 73, 126;  */
/*   --callout-icon: lucide-flag; */
/*   /* border-left: 5px solid #ff80bf; */ */
/* } */
